<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsuariosWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="PublicacionesWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="NotificacionesWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="CursosWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/LP2Soft_WebServices/CursosWS"
                binding="basicHttpBinding" bindingConfiguration="CursosWSPortBinding"
                contract="CursosWS.CursosWS" name="CursosWSPort" />
            <endpoint address="http://localhost:8081/LP2Soft_WebServices/NotificacionesWS"
                binding="basicHttpBinding" bindingConfiguration="NotificacionesWSPortBinding"
                contract="NotificacionesWS.NotificacionesWS" name="NotificacionesWSPort" />
            <endpoint address="http://localhost:8081/LP2Soft_WebServices/PublicacionesWS"
                binding="basicHttpBinding" bindingConfiguration="PublicacionesWSPortBinding"
                contract="PublicacionesWS.PublicacionesWS" name="PublicacionesWSPort" />
            <endpoint address="http://localhost:8081/LP2Soft_WebServices/UsuariosWS"
                binding="basicHttpBinding" bindingConfiguration="UsuariosWSPortBinding"
                contract="UsuarioWS.UsuariosWS" name="UsuariosWSPort" />
        </client>
    </system.serviceModel>
</configuration>